div.jumbotron h1{
	text-align: center;
}

div#artmix{
}

.modal-body {
    max-height: 800px;
}

html, body {
  height: 100%;
}


.container{
 min-height: calc(100% - 120px);
}

#footer {
	background-color: #4E5D6C;
}

.tab-pane p{
	padding-top:5px;
}

ul.nav{
	padding-top: 48px;
}